html{
  font-family: sans-serif;
}
table {
  padding: 10px;
  text-align: center;
  margin: auto;
  left:0;
  right:0;
}
th {
  padding: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
td {
  padding:15px;
}