h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

table {
  padding: 5px;
}

th {
  padding: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
}

td {
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
}