table {
  margin: auto;
  left: 0;
  right: 0;
  font-family: sans-serif;
}

th {
  padding: 15px;
  text-align: center;
  width: 140px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

td {
  padding: 15px;
  text-align: center;
  width: 140px;
}