::selection {
  background: #66C5C5; 
}
::-moz-selection {
  background: #66C5C5;
}

body {
  background-color: #303030;
  color: white;
  font-family: sans-serif;
  font-size: 13.5px;
}

b {
  color: #408987;
}

i {
  color: #A3C1E5;
}

h1 {
  font-size: 40px;
  text-align: center;
}

#content {
  margin-top: 80px;
}

#image {
  width: 400px;
  height: 400px;
  overflow: auto;
  position: absolute;
  left: 152px;
  background-color: #262626;
  padding: 28px;
}

#image img {
  width: 400px;
  height: auto;
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}

#image img:hover {
  width: 400px;
  height: auto;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: 0.5s;
}

#text {
  position: relative;
  width: 600px;
  height: 424px;
  background-color: #262626;
  padding: 16px;
  left: 600px;
  overflow: scroll;
}

span {
  background-color: rgba(102, 133, 197,0.6);
}
