
body {
  background-color: #f2f2f2;
  color: #fff;
  background-image: url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 20%;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  text-align: center;
}

p {
  text-align: center;
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 500px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#list {
  background-color:rgba(0,0,0,0.2);
  width: 490px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  line-height: 20px;
}

a {
    color: #46326d;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px #46326d;
    letter-spacing:1px;
    font-size: 15px;
}

a:hover {
  color: #cecece;
  text-shadow: 0px 0px 2px #cecece;
  -moz-transition-duration:.6s;
  -webkit-transition-duration:.6s;
  -o-transition-duration:.6s;
  -webkit-filter: blur(1px);
}


#images img {
  width: 175px;
  height:175px;
  overflow:hidden;
}
